<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.midas"
            id="co.edu.javeriana.midas.rsl2dsl.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="co.edu.javeriana.midas.rsl2dsl.ui.popupMenus.AcceleoGenerateRsl2dslAction"
               enablesFor="+"
               id="co.edu.javeriana.midas.rsl2dsl.ui.popupMenus.acceleoGenerateRsl2dslAction"
               icon="icons/default.gif"
               label="Generate Rsl2dsl"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
