<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.edu.co/javeriana/midas/Midas"
			class = "co.edu.javeriana.midas.midas.MidasPackage"
			genModel = "model/Midas.genmodel" />
	</extension>
</plugin>
